@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #00413d;
  --color-primary-light: #A0C8C8;
  --color-secondary: #BBF49C;
  --color-accent: #ECF4E9;
  --color-primary-ex-light: #E5E9EA;
  --font-urbanist: var(--font-urbanist);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-urbanist), Helvetica, sans-serif; */
}
